# Analysis of Crime, Income, Sales and Development Over Time

In [1]:
# Import libraries for analysis
import pandas as pd
import numpy as np

In [35]:
# Import libraries for visualization
%matplotlib inline
import hvplot.pandas
import plotly.express as px
import matplotlib.pyplot as plt
from panel.interact import interact

In [156]:
# # Import csv's from individual analysis of the following:

# # Historical Crime 2003-2018
crime_path = 'crime_stats.csv'
crime_df = pd.read_csv(crime_path)
# Historical Income 2004-2016
income_path = 'Data/Income/income_data.csv'
income_df = pd.read_csv(income_path)
# # Historical Sales 2003-2018
sales_path = 'Historic_Sales_Analysis/sales_stats.csv'
sales_df = pd.read_csv(sales_path)
# Historical Development 2000-2019
dev_path = 'dev_df.csv'
dev_df =  pd.read_csv(dev_path)

,Neighborhood,last_income,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr
0,1021,256.526464,0.0762,0.0724,-0.0038,0.0691,-0.0071
1,1026,259.148148,0.0395,0.0205,-0.0190,0.0253,-0.0142
2,3004,43.070362,0.0190,0.0193,0.0003,0.0163,-0.0027
3,3019,89.128119,0.0650,0.0815,0.0165,0.0755,0.0105
4,AIRPORT JFK,47.046511,0.0078,0.0151,0.0073,0.0162,0.0084

## Ranking Metrics

In [ ]:
# adding ranking metrics to crime_df

In [157]:
# adding ranking metrics to income_df
new_income_columns = ['neighborhood',
                     'last_income',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
income_df.columns = new_income_columns
income_df.set_index(['neighborhood'], inplace=True)
income_df['current_rank']=income_df['last_income'].rank(ascending=False)
income_df['avg_change_rank']=income_df['avg_pct_change'].rank(ascending=False)
income_df['growth_3yr_rank']=income_df['comparison_3yr'].rank(ascending=False)
income_df['growth_5yr_rank']=income_df['comparison_5yr'].rank(ascending=False)
income_df.head()

,last_income,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
1021,256.526464,0.0762,0.0724,-0.0038,0.0691,-0.0071,25.0,3.0,163.0,199.0
1026,259.148148,0.0395,0.0205,-0.0190,0.0253,-0.0142,24.0,63.0,183.0,205.0
3004,43.070362,0.0190,0.0193,0.0003,0.0163,-0.0027,179.0,166.5,151.0,185.5
3019,89.128119,0.0650,0.0815,0.0165,0.0755,0.0105,55.0,10.0,17.0,25.0
AIRPORT JFK,47.046511,0.0078,0.0151,0.0073,0.0162,0.0084,159.0,205.0,100.0,49.0

In [153]:
# adding ranking metrics to sales_df

new_sales_columns = ['neighborhood',
                     'avg_yearly_sales',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
sales_df.columns = new_sales_columns
sales_df.set_index(['neighborhood'], inplace=True)
sales_df['current_rank']=sales_df['avg_yearly_sales'].rank(ascending=False)
sales_df['avg_change_rank']=sales_df['avg_pct_change'].rank(ascending=False)
sales_df['growth_3yr_rank']=sales_df['comparison_3yr'].rank(ascending=False)
sales_df['growth_5yr_rank']=sales_df['comparison_5yr'].rank(ascending=False)
sales_df.head()

,avg_yearly_sales,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
MIDTOWN WEST,6.054405e+09,0.3036,0.0389,-0.2647,0.1308,-0.1728,1.0,37.0,176.0,179.0
UPPER EAST SIDE (59-79),4.235901e+09,0.0831,-0.0774,-0.1605,0.0112,-0.0719,2.0,128.5,150.0,145.0
MIDTOWN CBD,3.705496e+09,0.2531,-0.0645,-0.3176,-0.0884,-0.3415,3.0,48.0,181.0,191.0
UPPER WEST SIDE (59-79),3.279761e+09,0.1025,0.0332,-0.0693,0.0963,-0.0062,4.0,111.0,113.0,120.0
UPPER EAST SIDE (79-96),2.897718e+09,0.0642,-0.0251,-0.0893,0.0421,-0.0221,5.0,157.0,124.0,130.0

In [158]:
# adding ranking metrics to development_df
new_dev_columns = ['neighborhood',
                     'cumulative_sum',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
dev_df.columns = new_dev_columns
dev_df.set_index(['neighborhood'], inplace=True)
dev_df['current_rank']=dev_df['cumulative_sum'].rank(ascending=False)
dev_df['avg_change_rank']=dev_df['avg_pct_change'].rank(ascending=False)
dev_df['growth_3yr_rank']=dev_df['comparison_3yr'].rank(ascending=False)
dev_df['growth_5yr_rank']=dev_df['comparison_5yr'].rank(ascending=False)
dev_df.head()

,cumulative_sum,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
MIDTOWN WEST,1.384959e+10,0.2515,0.1094,-0.1421,0.125,-0.1265,1.0,133.0,69.0,72.0
MIDTOWN CBD,1.209472e+10,139.3866,0.1198,-139.2668,0.119,-139.2676,2.0,2.0,186.0,186.0
UPPER EAST SIDE (59-79),6.525430e+09,147.6482,0.0966,-147.5516,0.104,-147.5442,3.0,1.0,187.0,187.0
FASHION,5.149296e+09,0.2746,0.1110,-0.1636,0.120,-0.1546,4.0,106.5,89.0,100.0
FINANCIAL,4.768688e+09,0.1909,0.0985,-0.0924,0.141,-0.0499,5.0,174.0,28.0,12.0

## Present Day Ranking of Neighborhoods

## Ranking Neighborhoods Based on Momentum