# Analysis of Crime, Income, Sales and Development Over Time

In [2]:
# Import libraries for analysis
import pandas as pd
import numpy as np

In [7]:
# Import cleaned csv's from individual analysis of the following:

# Historical Crime 2003-2018
crime_path = 'joint_analysis_resources/crime_stats.csv'
crime_df = pd.read_csv(crime_path)
# Historical Income 2004-2016
income_path = 'joint_analysis_resources/income_data.csv'
income_df = pd.read_csv(income_path)
# Historical Sales 2003-2018
sales_path = 'joint_analysis_resources/sales_stats.csv'
sales_df = pd.read_csv(sales_path)
# Historical Development 2000-2019
dev_path = 'joint_analysis_resources/dev_df.csv'
dev_df =  pd.read_csv(dev_path)

## Ranking Metrics

### Added Ranks to Crime Data

In [4]:
# adding ranking metrics to crime_df
# rename columns for easy calling
new_crime_columns = ['neighborhood',
                     'avg_yearly_crime',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']

# set new column names
crime_df.columns = new_crime_columns

# set index to neighborhood to have a common index for concatenating
crime_df.set_index(['neighborhood'], inplace=True)

# use rank function to calculate rankings for current, avg change, 3yr comparison and 5yrr comparison
crime_df['current_rank']=crime_df['avg_yearly_crime'].rank(ascending=False)
crime_df['avg_change_rank']=crime_df['avg_pct_change'].rank(ascending=False)
crime_df['growth_3yr_rank']=crime_df['comparison_3yr'].rank(ascending=False)
crime_df['growth_5yr_rank']=crime_df['comparison_5yr'].rank(ascending=False)

# check a few lines
crime_df.head()

,avg_yearly_crime,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
ASTORIA,1691.0,-0.041,-0.011,0.030,-0.019,0.022,30.0,143.5,43.0,48.5
BATH,1017.0,-0.047,-0.063,-0.016,-0.062,-0.015,144.5,168.0,109.0,132.0
BATHBEACH,1017.0,-0.047,-0.063,-0.016,-0.062,-0.015,144.5,168.0,109.0,132.0
GRAVESEND,1017.0,-0.047,-0.063,-0.016,-0.062,-0.015,144.5,168.0,109.0,132.0
FINANCIAL,1356.0,-0.048,-0.021,0.027,-0.003,0.045,64.5,178.0,60.5,16.5

### Added Ranks to Income Data

In [8]:
# adding ranking metrics to income_df
new_income_columns = ['neighborhood',
                     'last_income',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
income_df.columns = new_income_columns
income_df['neighborhood']=income_df['neighborhood'].str.replace(' ','')
income_df.set_index(['neighborhood'], inplace=True)
income_df['current_rank']=income_df['last_income'].rank(ascending=True)
income_df['avg_change_rank']=income_df['avg_pct_change'].rank(ascending=True)
income_df['growth_3yr_rank']=income_df['comparison_3yr'].rank(ascending=True)
income_df['growth_5yr_rank']=income_df['comparison_5yr'].rank(ascending=True)
income_df.head()

,last_income,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
1021,256.526464,0.0762,0.0724,-0.0038,0.0691,-0.0071,184.0,206.0,46.0,10.0
1026,259.148148,0.0395,0.0205,-0.0190,0.0253,-0.0142,185.0,146.0,26.0,4.0
3004,43.070362,0.0190,0.0193,0.0003,0.0163,-0.0027,30.0,42.5,58.0,23.5
3019,89.128119,0.0650,0.0815,0.0165,0.0755,0.0105,154.0,199.0,192.0,184.0
AIRPORTJFK,47.046511,0.0078,0.0151,0.0073,0.0162,0.0084,50.0,4.0,109.0,160.0

### Added Ranks to Sales Data

In [9]:
# adding ranking metrics to sales_df
new_sales_columns = ['neighborhood',
                     'avg_yearly_sales',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
sales_df.columns = new_sales_columns
sales_df['neighborhood']=sales_df['neighborhood'].str.replace(' ','')
sales_df.set_index(['neighborhood'], inplace=True)
sales_df['current_rank']=sales_df['avg_yearly_sales'].rank(ascending=True)
sales_df['avg_change_rank']=sales_df['avg_pct_change'].rank(ascending=True)
sales_df['growth_3yr_rank']=sales_df['comparison_3yr'].rank(ascending=True)
sales_df['growth_5yr_rank']=sales_df['comparison_5yr'].rank(ascending=True)
sales_df.head()

,avg_yearly_sales,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
MIDTOWNWEST,6.054405e+09,0.3036,0.0389,-0.2647,0.1308,-0.1728,202.0,166.0,27.0,24.0
UPPEREASTSIDE(59-79),4.235901e+09,0.0831,-0.0774,-0.1605,0.0112,-0.0719,201.0,74.5,53.0,58.0
MIDTOWNCBD,3.705496e+09,0.2531,-0.0645,-0.3176,-0.0884,-0.3415,200.0,155.0,22.0,12.0
UPPERWESTSIDE(59-79),3.279761e+09,0.1025,0.0332,-0.0693,0.0963,-0.0062,199.0,92.0,90.0,83.0
UPPEREASTSIDE(79-96),2.897718e+09,0.0642,-0.0251,-0.0893,0.0421,-0.0221,198.0,46.0,79.0,73.0

### Add Ranks to Development Data

In [10]:
# adding ranking metrics to development_df
new_dev_columns = ['neighborhood',
                     'cumulative_sum',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
dev_df.columns = new_dev_columns
dev_df['neighborhood']=dev_df['neighborhood'].str.replace(' ','')
dev_df.set_index(['neighborhood'], inplace=True)
dev_df['current_rank']=dev_df['cumulative_sum'].rank(ascending=True)
dev_df['avg_change_rank']=dev_df['avg_pct_change'].rank(ascending=True)
dev_df['growth_3yr_rank']=dev_df['comparison_3yr'].rank(ascending=True)
dev_df['growth_5yr_rank']=dev_df['comparison_5yr'].rank(ascending=True)
dev_df.head()

,cumulative_sum,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
MIDTOWNWEST,1.384959e+10,0.2515,0.1094,-0.1421,0.125,-0.1265,187.0,55.0,119.0,116.0
MIDTOWNCBD,1.209472e+10,139.3866,0.1198,-139.2668,0.119,-139.2676,186.0,186.0,2.0,2.0
UPPEREASTSIDE(59-79),6.525430e+09,147.6482,0.0966,-147.5516,0.104,-147.5442,185.0,187.0,1.0,1.0
FASHION,5.149296e+09,0.2746,0.1110,-0.1636,0.120,-0.1546,184.0,81.5,99.0,88.0
FINANCIAL,4.768688e+09,0.1909,0.0985,-0.0924,0.141,-0.0499,183.0,14.0,160.0,176.0

## Present Day Snapshot of Neighborhoods

### Combine Current Rankings

In [33]:
# create dataframe to contain rankings by crime, income, sales, development

# concatenate all current ranks
current_ranking = pd.concat([crime_df['current_rank'], 
                             income_df['current_rank'], 
                             sales_df['current_rank'],
                             dev_df['current_rank']],
                            axis='columns', 
                            join = 'inner')

# define new column names
current_rank_columns = ['crime_rank','income_rank', 'avg_sales_rank','cum_development_rank']

# set new column names
current_ranking.columns = current_rank_columns
print(len(current_ranking))

# check a few lines
current_ranking.head()

183

              crime_rank  income_rank  avg_sales_rank  cum_development_rank
neighborhood
ASTORIA             30.0        133.0           176.0                 158.0
BATHBEACH          144.5        120.0            93.0                  46.0
GRAVESEND          144.5         77.0           150.0                 126.0
FINANCIAL           64.5        199.0           196.0                 183.0
SOUTHBRIDGE         64.5        168.0           139.0                 131.0

### Calculate current neighborhood score

In [34]:
# calculate aggregate score using equal weights
current_ranking['eq_weight_score'] = round((1/4)*(1/206)*(current_ranking['crime_rank']+
                                                          current_ranking['income_rank']+
                                                          current_ranking['avg_sales_rank']+
                                                          current_ranking['cum_development_rank']),6)

# calculate aggregate score with weights based on data completeness
current_ranking['weights_by_completeness'] = round((1/4)*(1/206)*(current_ranking['crime_rank']*(18/19)+
                                                                  current_ranking['income_rank']*(13/19)+ 
                                                                  current_ranking['avg_sales_rank']*(16/19)+
                                                                  current_ranking['cum_development_rank']*(1)),6)

# calculate aggregate score with weights based on data reliability
current_ranking['weights_by_reliability'] = round((1/4)*(1/206)*(current_ranking['crime_rank']*(.5)+
                                                                  current_ranking['income_rank']*(.8)+ 
                                                                  current_ranking['avg_sales_rank']*(1)+
                                                                  current_ranking['cum_development_rank']*(.9)),6)

In [36]:
# check a few lines
current_ranking.sort_values(['weights_by_reliability'], ascending=False)

,crime_rank,income_rank,avg_sales_rank,cum_development_rank,eq_weight_score,weights_by_completeness,weights_by_reliability
neighborhood,,,,,,,
MIDTOWNWEST,134.5,195.0,202.0,187.0,0.871966,0.749936,0.720328
UPPERWESTSIDE(59-79),134.5,198.0,199.0,177.0,0.859830,0.737225,0.708677
MIDTOWNEAST,140.0,196.0,195.0,176.0,0.858010,0.736587,0.704126
UPPERWESTSIDE(79-96),134.5,191.0,191.0,167.0,0.829490,0.711101,0.681250
MURRAYHILL,140.0,186.0,186.0,172.0,0.830097,0.714231,0.679126
KIPSBAY,140.0,174.0,189.0,174.0,0.821602,0.709760,0.673301
TRIBECA,64.5,208.0,192.0,182.0,0.784587,0.663963,0.672876
FINANCIAL,64.5,199.0,196.0,183.0,0.779733,0.661791,0.670085
GRAMERCY,140.0,193.0,181.0,163.0,0.821602,0.704011,0.670024
UPPEREASTSIDE(59-79),17.5,204.0,201.0,185.0,0.737257,0.619443,0.654672
HARLEM-CENTRAL,137.0,163.0,184.0,171.0,0.794903,0.688426,0.651456
SOHO,49.0,203.0,187.0,178.0,0.748786,0.632026,0.648180
MIDTOWNCBD,5.5,200.0,200.0,186.0,0.717840,0.602517,0.643386
GREENWICHVILLAGE-CENTRAL,49.0,202.0,185.0,175.0,0.741505,0.625511,0.641505
UPPERWESTSIDE(96-116),134.5,176.0,180.0,151.0,0.778519,0.667987,0.635862
LONGISLANDCITY,162.0,129.0,183.0,173.0,0.785194,0.690342,0.634587
FLATIRON,9.5,201.0,194.0,181.0,0.710558,0.595746,0.634041
CHELSEA,9.5,197.0,197.0,180.0,0.708131,0.594277,0.632706
UPPEREASTSIDE(79-96),17.5,189.0,198.0,179.0,0.708131,0.596640,0.629915
PARKSLOPE,173.0,152.0,178.0,145.0,0.786408,0.682997,0.626942
CIVICCENTER,64.5,206.0,177.0,157.0,0.733617,0.616633,0.625425
GREENWICHVILLAGE-WEST,49.0,187.0,190.0,168.0,0.720874,0.609670,0.625364
FASHION,5.5,183.0,193.0,184.0,0.686286,0.578820,0.616201
DOWNTOWN-FULTONMALL,179.0,170.0,145.0,150.0,0.781553,0.677184,0.613471
WASHINGTONHEIGHTSLOWER,188.0,138.0,153.0,162.0,0.777913,0.683700,0.610680
BROOKLYNHEIGHTS,119.5,162.0,175.0,152.0,0.738471,0.635220,0.608192
CLINTON,9.5,207.0,179.0,161.0,0.675364,0.561127,0.599818
BAYRIDGE,186.0,137.0,168.0,136.0,0.760922,0.664346,0.598301
LOWEREASTSIDE,69.0,182.0,170.0,155.0,0.699029,0.592297,0.594175
FLUSHING-NORTH,129.5,110.0,188.0,165.0,0.719053,0.632601,0.593750
...,...,...,...,...,...,...,...
FIELDSTON,26.5,140.0,21.0,42.0,0.278519,0.219149,0.223362
FORDHAM,26.5,2.0,79.0,99.0,0.250607,0.233010,0.222027
BELLEROSE,40.5,114.0,51.0,22.0,0.276092,0.220043,0.221177
CASTLEHILL/UNIONPORT,148.0,13.0,52.0,48.0,0.316748,0.292348,0.217961
THROGSNECK,112.0,25.0,71.0,34.0,0.293689,0.263350,0.215534
HOLLIS,40.5,54.0,100.0,14.0,0.253034,0.210590,0.213653
WILLIAMSBRIDGE,14.0,17.0,99.0,55.0,0.224515,0.198135,0.205218
BELMONT,59.5,14.0,42.0,95.0,0.255461,0.238247,0.204430
EASTRIVER,69.0,75.0,8.0,69.0,0.268204,0.233521,0.199757
JAMAICABAY,200.5,59.0,9.0,4.0,0.330704,0.293562,0.194235
CITYISLAND,91.5,102.0,19.0,13.0,0.273665,0.225089,0.191808
CO-OPCITY,112.0,51.0,6.0,58.0,0.275485,0.247637,0.188107
BATHGATE,91.5,3.0,35.0,78.0,0.251820,0.238120,0.186104
WYCKOFFHEIGHTS,57.5,20.0,44.0,62.0,0.222694,0.202925,0.175425
HILLCREST,75.5,91.0,27.0,7.0,0.243325,0.198454,0.174575
HOLLISHILLS,40.5,89.0,22.0,15.0,0.202063,0.161152,0.154066
JAMAICAHILLS,75.5,37.0,28.0,33.0,0.210558,0.186191,0.151760
COUNTRYCLUB,5.5,90.0,38.0,11.0,0.175364,0.133240,0.148847
SEAGATE,153.5,26.0,16.0,10.0,0.249393,0.226559,0.148726
CROTONAPARK,26.5,6.0,26.0,85.0,0.174150,0.165176,0.146299
PELHAMPARKWAYNORTH,91.5,22.0,30.0,21.0,0.199636,0.179612,0.136226
SPRINGCREEK,2.0,15.0,63.0,39.0,0.144417,0.126469,0.134830
WAKEFIELD,14.0,23.0,57.0,29.0,0.149272,0.128641,0.131675
HOLLISWOOD,40.5,58.0,33.0,6.0,0.166869,0.135731,0.127488
BRONX-UNKNOWN,91.5,7.0,5.0,53.0,0.189927,0.180442,0.126274
PELHAMGARDENS,91.5,39.0,17.0,9.0,0.189927,0.165879,0.123847
QUEENS-UNKNOWN,40.5,56.0,1.0,32.0,0.157160,0.132920,0.115109
WOODLAWN,14.0,63.0,18.0,12.0,0.129854,0.101367,0.104612
BRONXPARK,91.5,11.0,10.0,17.0,0.157160,0.145184,0.096905
AIRPORTLAGUARDIA,34.0,43.0,3.0,5.0,0.103155,0.083929,0.071481

In [ ]:
# export as csv to dashboard for visualization
current_ranking.to_csv('dash_current_rank.csv')

## Ranking Neighborhoods Based on Growth Rate

### Average Increases Across all Years of Available Data

In [13]:
# create dataframe to contain rankings by crime, income, sales, development
avg_change_ranking = pd.concat([crime_df['avg_change_rank'], 
                             income_df['avg_change_rank'], 
                             sales_df['avg_change_rank'],
                             dev_df['avg_change_rank']],
                            axis='columns', 
                            join = 'inner')
avg_change_rank_columns = ['crime_rank','income_rank', 'sales_rank','dev_rank']
avg_change_ranking.columns = avg_change_rank_columns
avg_change_ranking.head()

              crime_rank  income_rank  sales_rank  dev_rank
neighborhood
ASTORIA            143.5        140.0        71.0      40.0
BATHBEACH          168.0        124.0        57.0     135.0
GRAVESEND          168.0         71.5        49.5      56.0
FINANCIAL          178.0          2.0       177.0      14.0
SOUTHBRIDGE        178.0        204.0       189.0      21.0

### Calculate Aggregate Score for Average Increases

In [14]:
avg_change_ranking['eq_weight_score'] = round((1/4)*(1/206)*(avg_change_ranking['crime_rank']+
                                                          avg_change_ranking['income_rank']+
                                                          avg_change_ranking['sales_rank']+
                                                          avg_change_ranking['dev_rank']),4)
avg_change_ranking['weights_by_completeness'] = round((1/4)*(1/206)*(avg_change_ranking['crime_rank']*(18/19)+
                                                                  avg_change_ranking['income_rank']*(13/19)+ 
                                                                  avg_change_ranking['sales_rank']*(16/19)+
                                                                  avg_change_ranking['dev_rank']*(1)),4)
avg_change_ranking['weights_by_reliability'] = round((1/4)*(1/206)*(avg_change_ranking['crime_rank']*(.5)+
                                                                  avg_change_ranking['income_rank']*(.8)+ 
                                                                  avg_change_ranking['sales_rank']*(1)+
                                                                  avg_change_ranking['dev_rank']*(.9)),4)

In [15]:
# check a few lines
avg_change_ranking.head()

,crime_rank,income_rank,sales_rank,dev_rank,eq_weight_score,weights_by_completeness,weights_by_reliability
neighborhood,,,,,,,
ASTORIA,143.5,140.0,71.0,40.0,0.4788,0.4023,0.3529
BATHBEACH,168.0,124.0,57.0,135.0,0.5874,0.5182,0.4390
GRAVESEND,168.0,71.5,49.5,56.0,0.4187,0.3711,0.2926
FINANCIAL,178.0,2.0,177.0,14.0,0.4502,0.4042,0.3400
SOUTHBRIDGE,178.0,204.0,189.0,21.0,0.7184,0.5927,0.5584

In [74]:
# export to CSV for Dashboard Visualization
avg_change_ranking.to_csv('dash_avg_change_scores.csv')

### Growth in the last 5 Years in Comparison to Average Growth Rate

In [75]:
# create dataframe to contain rankings by crime, income, sales, development
growth_5yr_ranking = pd.concat([crime_df['growth_5yr_rank'], 
                             income_df['growth_5yr_rank'], 
                             sales_df['growth_5yr_rank'],
                             dev_df['growth_5yr_rank']],
                            axis='columns', 
                            join = 'inner')
growth_5yr_rank_columns = ['crime_rank','income_rank', 'sales_rank','dev_rank']
growth_5yr_ranking.columns = growth_5yr_rank_columns


# calculate aggregate scores by three methods
growth_5yr_ranking['eq_weight_score'] = round((1/4)*(1/206)*(growth_5yr_ranking['crime_rank']+
                                                          growth_5yr_ranking['income_rank']+
                                                          growth_5yr_ranking['sales_rank']+
                                                          growth_5yr_ranking['dev_rank']),4)
growth_5yr_ranking['weights_by_completeness'] = round((1/4)*(1/206)*(growth_5yr_ranking['crime_rank']*(18/19)+
                                                                  growth_5yr_ranking['income_rank']*(13/19)+ 
                                                                  growth_5yr_ranking['sales_rank']*(16/19)+
                                                                  growth_5yr_ranking['dev_rank']*(1)),4)
growth_5yr_ranking['weights_by_reliability'] = round((1/4)*(1/206)*(growth_5yr_ranking['crime_rank']*(.5)+
                                                                  growth_5yr_ranking['income_rank']*(.8)+ 
                                                                  growth_5yr_ranking['sales_rank']*(1)+
                                                                  growth_5yr_ranking['dev_rank']*(.9)),4)

# check a few lines
growth_5yr_ranking.head()

183

,crime_rank,income_rank,sales_rank,dev_rank,eq_weight_score,weights_by_completeness,weights_by_reliability
neighborhood,,,,,,,
ASTORIA,48.5,150.0,72.0,118.0,0.4715,0.3971,0.3913
BATHBEACH,132.0,108.5,110.0,40.0,0.4739,0.4028,0.3626
GRAVESEND,132.0,63.5,103.0,80.0,0.4593,0.4068,0.3541
FINANCIAL,16.5,206.0,8.0,176.0,0.4933,0.4118,0.4120
SOUTHBRIDGE,16.5,2.0,186.0,122.0,0.3962,0.3588,0.3709

In [76]:
# export to CSV for Dashboard Visualization
growth_5yr_ranking.to_csv('dash_5yr_scores.csv')

### Recent Growth (3-year) in Comparison to Average Growth Rate

In [77]:
# create dataframe to contain rankings by crime, income, sales, development
growth_3yr_ranking = pd.concat([crime_df['growth_3yr_rank'], 
                             income_df['growth_3yr_rank'], 
                             sales_df['growth_3yr_rank'],
                             dev_df['growth_3yr_rank']],
                            axis='columns', 
                            join = 'inner')
growth_3yr_rank_columns = ['crime_rank','income_rank', 'sales_rank','dev_rank']
growth_3yr_ranking.columns = growth_3yr_rank_columns


growth_3yr_ranking['eq_weight_score'] = round((1/4)*(1/206)*(growth_3yr_ranking['crime_rank']+
                                                          growth_3yr_ranking['income_rank']+
                                                          growth_3yr_ranking['sales_rank']+
                                                          growth_3yr_ranking['dev_rank']),4)
growth_3yr_ranking['weights_by_completeness'] = round((1/4)*(1/206)*(growth_3yr_ranking['crime_rank']*(18/19)+
                                                                  growth_3yr_ranking['income_rank']*(13/19)+ 
                                                                  growth_3yr_ranking['sales_rank']*(16/19)+
                                                                  growth_3yr_ranking['dev_rank']*(1)),4)
growth_3yr_ranking['weights_by_reliability'] = round((1/4)*(1/206)*(growth_3yr_ranking['crime_rank']*(.5)+
                                                                  growth_3yr_ranking['income_rank']*(.8)+ 
                                                                  growth_3yr_ranking['sales_rank']*(1)+
                                                                  growth_3yr_ranking['dev_rank']*(.9)),4)
# check a few lines
growth_3yr_ranking.head()

183

,crime_rank,income_rank,sales_rank,dev_rank,eq_weight_score,weights_by_completeness,weights_by_reliability
neighborhood,,,,,,,
ASTORIA,43.0,165.0,86.0,112.0,0.4927,0.4103,0.4130
BATHBEACH,109.0,124.5,94.0,47.0,0.4545,0.3818,0.3524
GRAVESEND,109.0,84.0,110.0,115.5,0.5079,0.4477,0.4073
FINANCIAL,60.5,137.0,11.0,160.0,0.4472,0.3887,0.3578
SOUTHBRIDGE,60.5,16.0,16.0,133.5,0.2743,0.2612,0.2175

In [78]:
growth_3yr_ranking.to_csv('dash_3yr_scores.csv')

## The Opportunity Zone

In [11]:
# import opportunity zone data
op_path = 'joint_analysis_resources/opp_zone_data.csv'
op_df = pd.read_csv(op_path)

In [12]:
op_df['Neighborhood']=op_df['Neighborhood'].str.replace(' ','')
op_df.set_index(['Neighborhood'],inplace=True)

# check length
len(op_df)

208

## Combine the Recent Growth Dataframe with Opportunity Zone for Analysis

In [82]:
oppzone_3yr_ranking = pd.concat([crime_df['growth_3yr_rank'], 
                             income_df['growth_3yr_rank'], 
                             sales_df['growth_3yr_rank'],
                             dev_df['growth_3yr_rank'], 
                            op_df],
                            axis='columns', 
                            join = 'inner')
oppzone_3yr_rank_columns = ['crime_rank','income_rank', 'sales_rank','dev_rank','opp_zone']
oppzone_3yr_ranking.columns = oppzone_3yr_rank_columns
print(len(oppzone_3yr_ranking))

oppzone_3yr_ranking['eq_weight_score'] = round((1/5)*(1/206)*(oppzone_3yr_ranking['crime_rank']+
                                                          oppzone_3yr_ranking['income_rank']+
                                                          oppzone_3yr_ranking['sales_rank']+
                                                          oppzone_3yr_ranking['dev_rank'])+ 
                                                          oppzone_3yr_ranking['opp_zone']*.2,4)
oppzone_3yr_ranking['weights_by_completeness'] = round((1/5)*(1/206)*(oppzone_3yr_ranking['crime_rank']*(18/19)+
                                                                  oppzone_3yr_ranking['income_rank']*(13/19)+ 
                                                                  oppzone_3yr_ranking['sales_rank']*(16/19)+
                                                                  oppzone_3yr_ranking['dev_rank']*(1))+
                                                                  oppzone_3yr_ranking['opp_zone']*.2,4)
oppzone_3yr_ranking['weights_by_reliability'] = round((1/5)*(1/206)*(oppzone_3yr_ranking['crime_rank']*(.5)+
                                                                  oppzone_3yr_ranking['income_rank']*(.8)+ 
                                                                  oppzone_3yr_ranking['sales_rank']*(1)+
                                                                  oppzone_3yr_ranking['dev_rank']*(.9))+
                                                                  oppzone_3yr_ranking['opp_zone']*.2,4)

oppzone_3yr_ranking.head()

183

,crime_rank,income_rank,sales_rank,dev_rank,opp_zone,eq_weight_score,weights_by_completeness,weights_by_reliability
ASTORIA,43.0,165.0,86.0,112.0,1.0,0.5942,0.5282,0.5304
BATHBEACH,109.0,124.5,94.0,47.0,0.0,0.3636,0.3054,0.2819
GRAVESEND,109.0,84.0,110.0,115.5,1.0,0.6063,0.5581,0.5259
FINANCIAL,60.5,137.0,11.0,160.0,0.0,0.3578,0.3110,0.2863
SOUTHBRIDGE,60.5,16.0,16.0,133.5,0.0,0.2194,0.2090,0.1740

In [83]:
oppzone_3yr_ranking.to_csv('dash_oppzone_3yr_scores.csv')

## Check to see how well the current ranks correlate to the opp_zone

In [92]:
# find number of opportunity zones
oppzone_neighs = op_df[op_df['op_zone']==1]
len(oppzone_neighs)

59

# slice dataframe of current scores to show the worst 100 neighborhoods
equal_weights = current_ranking.sort_values(['eq_weight_score'], ascending=False)[-100:]
weights_by_completeness = current_ranking.sort_values(['weights_by_completeness'], ascending=False)[-100:]
weights_by_reliability = current_ranking.sort_values(['weights_by_reliability'], ascending=False)[-100:]

In [93]:
# use an inner join to identify the number of neighborhoods each method of score has in common with the opportunity zones
def common_neighs(df1,df2):
    return len(pd.concat([df1,df2], axis='columns', join='inner'))

In [107]:
# initialize dictionary to hold values
weighing_the_weights={}

# call common_neighs function for each data slice
weighing_the_weights['Equal Weights'] = common_neighs(oppzone_neighs,equal_weights)
weighing_the_weights['Weights by Data Completeness'] = common_neighs(oppzone_neighs,weights_by_completeness)
weighing_the_weights['Weights by Data Reliability'] = common_neighs(oppzone_neighs,weights_by_reliability)

# print dictionary
weighing_the_weights

{'Equal Weights': 31,
 'Weights by Data Completeness': 30,
 'Weights by Data Reliability': 27}

Equal Weight Aggregate Scoring Identified the most number of Opportunity Zones!